<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="nome" matSortDisableClear matSortDirection="asc">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>createdAt</th>
        <td mat-cell *matCellDef="let row">{{row.createdAt}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button disabled>
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[3,6,9]"></mat-paginator>
</div>